* {
	box-sizing: content-box;
}

body{
	display: block;
    background-color: pink; 
}

img{
	display: block;
	max-width: 100%; 
}

.container{
	max-width: 960px; 
	margin: 0 auto; 
	padding: 0 15px;
}