.navbar{
	position: relative;
	background-color: $default-navbar-background;
	height: $default-navbar-height;
	font-size: $default-navbar-font-size;
    
    &__inner{
        @extend .container;
    }
	
	&__logo{
		display: inline-block;
		height: $default-navbar-height;
		line-height: $default-navbar-height; 
		color: $default-navbar-font-color; 
	}
	
	&__logo__link{
		display: block; 
		text-decoration: none;
		color: $default-navbar-font-color;
	}
	
	&__items{ 
		margin: 0; 
		padding: 0;
	}
	
	&__item{
		display: inline-block;	 
		margin: 0 ($default-navbar-gutter / 2 );
		
		&:first-child{
			margin-left: 0px;
		}
		&:last-child{
			margin-right: 0px;
		}
	}
	
	&__item__link{
		display: block; 
		text-decoration: none;
		line-height: $default-navbar-height;
		color: $default-navbar-font-color;
		
		&:hover{
			color: darken($default-navbar-font-color, 15%);
		}
	}
	
	&__items--right{
		float: right;
	}
}