{% set pageActive = pageActive -%}
{% set siteTitle = "Gulp Starter Kit" %}
{% set siteDescription = "The best Gulp Starter Kit you can find." %}
{% set siteBaseURL = "https://" %}

<!DOCTYPE html>
<html lang="de-DE">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>
            {% if title %} 
                {{ siteTitle + " - " + title }}
            {% else %}
                {{ siteTitle }}
            {% endif %}
        </title>

        <meta name="description" content="{{ siteDescription }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="{{ siteBaseURL }}{{ canonicalUrl }}">


        <link rel="stylesheet" href="styles/main.min.css?v=1.0.0">
    </head>

    {# Fügt Seiten-Klasse hinzu falls vorhanden #}
    {% if pageClass %}
        <body class="{{pageClass}}">
    {% else %}
        <body>
    {% endif %}

        {% block body %}{% endblock %}


        <script src="scripts/vendor/vendor-global.min.js"></script>

        {# Page specific scripts #}
        {% block scripts %}{% endblock %}

        <script src="scripts/main.min.js"></script>
    </body>

</html>
