{# global site title #}
{% set siteTitle = "Gulp Starter Kit" %}

<!DOCTYPE html>
<html lang="de-DE">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title | default(siteTitle) }}</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="styles/main.min.css">
</head>

{# Fügt Seiten-Klasse hinzu falls vorhanden #}
{% if pageClass %}
    <body class="{{pageClass}}">
{% else %}
    <body>
{% endif %}
    
    {% block body %}{% endblock %}
    
    <script src="scripts/vendor/jquery-1.12.0.min.js"></script>
    <script src="scripts/main.min.js"></script>
</body>

</html>